*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 0;
}

body {
  background-color: #cccccc;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  margin: 50px 0px 50px 0px;
}

.container {
  width: 610px;
  margin: auto;
  border: 5px solid white;
  overflow: auto;
}

.thumb {
  width: 200px;
  float: left;
  border: 2px solid white;
  cursor: pointer;
}

.thumb:hover {
  opacity: 0.5;
}

.active {
  opacity: 0.4;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}